/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos para la sección de la cuenta regresiva */
  .countdown-section {
    background-image: url('fondo-navidad.jpg');
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
  }
  
  .countdown {
    font-size: 60px;
    font-weight: bold;
    color: #f00; /* Rojo para destacar */
    animation: countdown-blink 1s infinite alternate;
  }
  
  /* Estilos para los números del contador (opcional) */
  .countdown span {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
  }
  
  /* Animación para el contador */
  @keyframes countdown-blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }

  /* para animacion arbol y santa cluus */
  /* Estilos para la escena navideña */
.christmas-scene {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .tree {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: tree-shake 2s infinite alternate;
  }
  
  .santa-sled {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: santa-fly 5s linear infinite;
  }
  
  /* Animaciones */
  @keyframes tree-shake {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    50% {
      transform: translateX(-50%) rotate(5deg);
    }
    100% {
      transform: translateX(-50%) rotate(-5deg);
    }
  }
  
  @keyframes santa-fly {
    0% {
      left: -100px;
    }
    100% {
      left: 100%;
    }
  }
  
  /* Estilos para el footer */
  footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
  }